doctype html
html(lang='en')
  head

  body
    div Your high score of <b>#{beaten.score}</b> on <b>#{game.full_name}</b> has just bean beaten by <b>#{beatenBy.user.username}</b> with a score of <b>#{beatenBy.score}</b>

    h2
      a(href="http://#{siteUrl}/#games/#{game.id}") #{game.full_name}
    table.table.table-striped(style="width: 200px")
      tr
        th Name
        th(style='text-align:right') Score
        each score in game.scores.slice(0,10)
          - var scoreClass = (score.id === beatenBy.id ? "background-color: #dff0d8;" : score.id === beaten.id ? "background-color: #f2dede;" : "")
          tr(style=scoreClass)
            td #{score.name}
            td(style='text-align:right')= score.score
