if !game.hasMapping
	div No file decode mapping for this game. Here are the raw file bytes (in hex)
	br
	each rawScore in game.rawScores
		div #{rawScore.createDate} -> #{rawScore.bytes}
else
	table.table.table-striped
		tr
			th Name
			th Score
			th Date
			each score in game.scores
				tr
					td
						if (score.user_id)
							a(href='/users/#{score.user_id}') #{score.name}
						else
							| #{score.name}
					td= score.score
					td= formatDate(score.createDate)