extends layout

block content
	h3
		a(href="/games?allGames=true") View All Games
	br
	table.table.table-striped
		tr
			th Game
			th Top Name
			th Top Score
			th Set
		each game in games
			tr
				td		
					a(href="/games/#{game.name}") #{game.fullName}
				if (game.scores !== undefined && game.scores.length > 0)
					td				
						if(game.scores[0].user_id)
							a(href='/users/#{game.scores[0].user_id}') #{game.scores[0].name}
						else
							| #{game.scores[0].name}
					td= game.scores[0].score
					td= formatDate(game.scores[0].createDate)
				else
					td
					td