extends layout

block content
	h1 Mame Highscores
	
	form(action='/games', method='get')
		div Select game to view scores
		select(name='game') 
			each val in games
				option(value='#{val.name}') #{val.fullName}
		input(type='submit', value="Go" style='margin-left: 5px')

	h3 5 Recently Played Games

	table.table.table-striped
		tr
			th Game Name
			th Play Count
			th Date
			each game in latestPlayed
				tr
					td 
						a(href='/games/#{game.name}') #{game.fullName}
					td= game.playCount
					td= new Date(game.lastPlayed).toLocaleDateString('NZ-en') + ' ' + new Date(game.lastPlayed).toLocaleTimeString('NZ-en')

	h3 Latest Scores

	table.table.table-striped
		tr
			th Game Name
			th Name
			th Score
			th Date
			each score in latestScores
				tr
					td 
						a(href='/games/#{score.name}') #{score.fullName}
					td 
						if (score.scores.user_id)
							a(href='/users/#{score.scores.user_id}') #{score.scores.name}
						else
							span #{score.scores.name}
					td= score.scores.score
					td= new Date(score.scores.createDate).toLocaleDateString('NZ-en') + ' ' + new Date(score.scores.createDate).toLocaleTimeString('NZ-en')




