extends layout

block content
	h1.text-center Mame Highscores

	div.row.center-block(style='width:100%')
		dvi.col-md-12
			div.panel.panel-default
				div.panel-body.text-center
					form.form-inline(action='/games', method='get' role='form')							
						div.form-group
							select.form-control(name='game')
								each val in games
									option(value='#{val.name}') #{val.fullName}
							input.btn.btn-default(type='submit', value="Go" style='margin-left: 5px')

	div.row
		dvi.col-md-6
			div.panel.panel-default
				div.panel-heading
					h3.panel-title 5 Recently Played Games
				div.panel-body
					table.table.table-striped
						tr
							th Game Name
							th Play Count
							th Date
							each game in latestPlayed
								tr
									td 
										a(href='/games/#{game.name}') #{game.fullName}
									td= game.playCount
									td= formatDate(game.lastPlayed)
		dvi.col-md-6
			div.panel.panel-default
				div.panel-heading
					h3.panel-title Top 5 Players
				div.panel-body
					table.table.table-striped
						tr
							th User
							th Total Scores Set
							each user in topPlayers
								tr
									td 
										a(href='/users/#{user._id}') #{user.userName}
									td= user.size
	div.row
		dvi.col-md-12
			div.panel.panel-default
				div.panel-heading
					h3.panel-title.strong Latest Scores
				div.panel-body
					table.table.table-striped
						tr
							th Game Name
							th Name
							th Score
							th Date
							each score in latestScores
								tr
									td 
										a(href='/games/#{score.name}') #{score.fullName}
									td 
										if (score.scores.user_id)
											a(href='/users/#{score.scores.user_id}') #{score.scores.name}
										else
											span #{score.scores.name}
									td= score.scores.score
									td= formatDate(score.scores.createDate)




