extends layout

block content	

	h2 #{user.userName} 
	h4 Email: #{user.email}
	h4 Aliases: #{user.aliases}

	each game in games	
		h3
			a(href="/games/#{game.name}") #{game.fullName} (#{game.name})

		if game.scores != undefined
			table.table.table-striped
				tr
					th Name
					th Score
					each score in game.scores
						tr
							if (user.aliases.indexOf(score.name) != -1)
								td.info
									b= score.name
								td.info
									b= score.score
							else
								td
									if (score.user_id)									
										a(href='/users/#{score.user_id}') #{score.name}
									else
										| #{score.name}
								td= score.score