extends layout

block content	

	h2 Games with scores for #{user.userName} 
	h4 Email: #{user.email}
	h4 Aliases: #{user.aliases}

	each game in games	
		h2 #{game.fullName} (#{game.name})

		if game.scores != undefined
			table.table.table-striped
				tr
					th Name
					th Score
					each score in game.scores
						tr
							if (user.aliases.indexOf(score.name) != -1)
								td.info
									b= score.name
								td.info
									b= score.score
							else
								td= score.name
								td= score.score